.buyer-edit-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .form-field {
    gap: 16px;
    padding-right: 10px;
  }

  .form-field-date{
    gap: 16px;
    padding-right: 40px;
  }
  
 