<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Smart Commerce</h1>
  </mat-toolbar>

  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="true" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/buyers">Listagem de Compradores</a>
        <a mat-list-item routerLink="/buyers/add">Adicionar Comprador</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>